Form {
  padding: 2vw;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin-bottom: 2vw;
  background-color: lightcyan;
}

.form-label {
  font-weight: bold;
}

.cityCards {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: space-around;
  margin-top: 2vw;
}

.navbar {
  margin-bottom: 2vw;
  border-radius: 10px;
}

.card-body {
  background-color: lightcyan;
}

.accordion {
  margin-bottom: 2vw;
}

.accordion-header {
  background-color: lightcyan;
}

.carousel.slide {
  margin: auto;
  width: 60vw;

}
.d-block.w-50 {
  margin: auto;
  height: 60vh;
  aspect-ratio: auto;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 0% !important;
    left: 25% !important;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: center;
    background-color: rgba(1, 1, 1, 0.5);
    width: 50%;
}

.carousel-caption h3 {
  color: lightcyan;
}